<html>
    <head>
        <link rel="stylesheet" href="../static/frontend-par/style.css">
    </head>
    <body>
        <div class="img-container">
        <img src="../static/frontend-par/images/logo.png" alt="welcome-image">
        </div>
        <div class="center-p title">LOGIN</div><br>
        <div class="form-center">
        <form method="GET" action="http://localhost:8081/login">
            <label for="userName">Username</label><br>
            <input type="text" id="userName" name="userName"><br>
            <label for="password">Password</label><br>
            <input type="password" id="password" name="password"><br>
            <input type="submit" value="Submit" class="button">
          </form>

        </div>
        
    </body>
</html>